.container {
    min-height: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 993px) {
    .container {
        font-size: 1.4em;
        padding: 0 5%;
    }
}
@media (max-width: 992px){
    .container {
        font-size: 1.2em;
        padding: 0 4%;
    }
}
@media (max-width: 768px) {
    .container {
        font-size: 1em;
        padding: 0 3%;
    }
}
@media (max-width: 576px) {
    .container {
        font-size: 0.8em;
        padding: 0 2%;
    }
}
