<app-section>
  <mat-card class="example-card">
    <mat-card-header fxLayout="row" fxLayoutAlign="center start">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        <h1>O site que você precisava para Achar</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="section-text">
      <p>
        O Projeto <b>Achei</b> nasceu de uma ideia de estudantes da área da tecnologia, no Programa Students
        to Business - PUCRS.
        <br/>
        O objetivo do Programa é fazer a ligação entre novos profissionais em busca de uma oportunidade no mercado 
        e empresas com demanda de mão de obra qualificada. 
      </p>
      
      <p>
        Com isso, <b>Achei</b> foi criado com o intuito de informar locais de diferentes tipos na cidade de Porto Alegre 
        visando facilitar a busca no dia a dia.
      </p>
      
      <p>
        <b>Achei</b> é um site colaborativo, onde as pessoas podem nos ajudar a achar lugares em Porto Alegre que ainda não estão
        cadastrados.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-subtitle>      <p>
            Sugestões?
          </p>
          <p>
            Entre em Contato com a Gente!
          </p> </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="section-text">

  <div fxLayout="row" fxLayoutAlign="space-around center">
      <!-- Item Column -->
      <ng-container>
        <div fxLayout="column" fxLayoutAlign="center center">
          <span> Bárbara Anger </span>
          <img src="../../assets/barbaraA.png" alt="">
          <span> Email: bbeckerdarosa@gmail.com </span>
          <span> Github: @barbbecker </span> 
        </div>
      </ng-container>
      
      <!-- Cost Column -->
      <ng-container>
        <div fxLayout="column" fxLayoutAlign="center center">
          <span> Bárbara Becker </span>
          <img src="../../assets/barbara.png" alt="">
          <span> Email: bbeckerdarosa@gmail.com </span>
          <span> Github: @barbbecker </span>
        </div>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
</app-section>