<section> 
  <h2 mat-dialog-title>Detalhes</h2>
  <mat-dialog-content fxLayout="column" fxLayoutAlign="center space-between">
    <p> <span class="negrito">Nome:</span> {{this.place.nome}} </p>
    <p> <span class="negrito">Descrição:</span> {{this.place.descricao}} </p>
    <p> <span class="negrito">Tipo:</span> {{this.place.tipo}} </p>
    <div *ngIf="place.keywords && place.keywords.length > 0">
      <p> <span *ngFor="let keyword of place.keywords" class="negrito">{{keyword}}</span> </p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Fechar</button>
  </mat-dialog-actions>
</section>