<agm-map 
  *ngIf="places && places.length > 0" 
  (zoomChange)="this.getZoom($event)" 
  [zoom]="zoomDefault" 
  [latitude]="currentLatitude" 
  [longitude]="currentLongitude" 
  (mapClick)="onCreateNewPlace($event)"
>
  <agm-marker
    iconUrl="../../assets/me.png"
    [latitude]="currentLatitude" 
    [longitude]="currentLongitude"
    *ngIf="currentLatitude && currentLongitude"
></agm-marker>

  <agm-marker
      *ngFor="let place of this.places"
      [title]="place.nome"
      (markerClick)="onClickDetails(place)"
      [iconUrl]="place.IconUrl"
      [latitude]="place.localizacao.latitude" 
      [longitude]="place.localizacao.longitude"
  ></agm-marker>
</agm-map>
