<agm-map [zoom]="zoomDefault" [latitude]="currentLatitude" [longitude]="currentLongitude" (mapClick)="onCreateNewEntity($event)">
  <agm-marker
    iconUrl="../../assets/me.png"
    [latitude]="currentLatitude" 
    [longitude]="currentLongitude"
    *ngIf="currentLatitude && currentLongitude"
></agm-marker>

  <agm-marker
      *ngFor="let dado of this.entities"
      [iconUrl]="dado.IconUrl"
      [latitude]="dado.localizacao.latitude" 
      [longitude]="dado.localizacao.longitude"
  ></agm-marker>
</agm-map>
