<footer>
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="mat-elevation-z6" color="primary" >
      <span class="logo-section" fxLayout="row" fxLayoutAlign="space-between center"> 
        <img width="40px" height="40px" src="../../../assets/gps-419-615321.png" alt="Logo do Site"/> 
        <a mat-button>Achei</a>
      </span>
      
      <p class="minimun-text-size"> Versão atual: 1.0.0 </p>

      <p class="minimun-text-size"> 	&copy; copyright Barbara's</p>
  </mat-toolbar>
</footer>
